//缩放效果
$t: 0.7s;
.bounce-enter-active {
    animation: bounce-in $t;
}
.bounce-leave-active {
    animation: bounce-in $t reverse;
}
@keyframes bounce-in {
    0% {
        transform: scale(1.2);
        opacity: 0;
    }
    // 50% {
    //     transform: scale(1.5);
    // }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.fade {
    &-enter-active,
    &-leave-active {
        transition: opacity .6s
    }
    &-enter,
    &-leave-to {
        opacity: 0
    }
}
.turn-on {
    &-enter {
        transform: translate3d(100%, 0, 0);
    }
    &-leave-to {
        transform: translate3d(-100%, 0, 0);
    }
    &-enter-active,
    &-leave-active {
        transition: transform .6s ease;
    }
}
.scroll-in {
    &-enter {
        transform: translate3d(0, 100%, 0);
    }
    &-leave-to {
        transform: translate3d(0, -100%, 0);
    }
    &-enter-active,
    &-leave-active {
        transition: transform .9s ease;
    }
}
.slide {
    &-enter,&-leave-to {
        transform: translate3d(100%, 0, 0);
    }
    &-enter-active,
    &-leave-active {
        transition: transform .5s;
    }
}
